<!doctype html>
<html class="no-js" lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hearthstone Challenge.</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'hearth/css/app.css' %}" />
    <link rel="stylesheet" href="{% static 'hearth/css/font-awesome.min.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'hearth/favicon.ico' %}"/>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64558979-1', 'auto');
  ga('send', 'pageview');

</script>

  </head>
  <body>

  <div class="wrapper">
      <div class="row centered text-center">
          <img style="max-width: 400px" src="{% static 'hearth/img/logo.png' %}" />
          <div class="row core">
              <p class="howto">
                  Get a friend and roll the dice, both of you must use the same rule/restriction and build a cool deck around them so that you can win!
              </p>

              <p class="rules">
                  <span><i class="fa fa-book"></i></i> {{ challenge }} </span>
              </p>
              <p style="margin-bottom: 0px">
                  <a href="/" class="button radius"><i class="fa fa-random"></i></i> Reroll!</a>
              </p>
          </div>
      </div>
      <div class="push"></div>
  </div>

  <div class="footer" style="">
	There are currently {{ amount }} UNIQUE challenges.<br>
     Made by tsanummy · Send me your ideas and feedback using <a href="http://www.reddit.com/user/Tsanummy/">reddit</a> or this <a href="http://goo.gl/forms/uOkDFOZswv">this google form</a>. You can also contact me at matrixrevoluxions@gmail.com
  </div>

  </body>
</html>
