@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


body {
  background: #222 url(../img/bg.jpg) no-repeat center center fixed;
/*
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
}

.centered {
  padding-top: 100px;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 50px; /* .push must be the same height as .footer */
  text-align: center;
  padding: 5px 10px;
  text-shadow: 0px 0px 9px rgba(150, 150, 150, 1);
  color:#aaa
}

.rules > span {
  padding: 15px 20px;
  font-size: 14pt;
  display: inline-block;
  background:#f0f0f0;
}
.rules  i.fa
{
  margin-right: 10px;
  color:#888;
}

.howto {
  font-weight: bold;
  color:#fff;
  text-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
}

.core {
  background: url('../img/w30.png');
  margin: 15px 0px !important;
  padding-top: 15px;
}
/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/